body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.8rem;
    color: #333;
}

.login-form label {
    font-weight: bold;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s ease;
}

.login-form input:focus {
    border-color: #3b82f6;
}

.login-form button {
    width: 100%;
    padding: 12px 0;
    background-color: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #2563eb;
}

.register-btn {
    display: block;
    text-align: center;
    width: 100%;
    padding: 12px 0;
    background-color: #2563eb;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
#registrar_id{
    text-decoration: none;
    color: #f4f4f9;
}

.register-btn:hover {
    background-color: #2563eb;
}

